:root {
  --bg-color-header: #Fec63e;
  --color-menu-text: #000;
  --color-menu-text-hover: #fff;
  --color-border-bottom-hover: #fff;
  --color-container-text-h1: #E0E0E0;
  --color-quote-externo-text: #E0E0E0;
  --color-quote-externo-p-before-after: #EEEEEE;
  --color-container-btn-ancor: #fec63e;
  --color-container-btn-ancor: #fec63e;
  --color-btn-hover-text: #eee;
  --color-btn-hover-border: #eee;
  --color-subtitulo-text: #212121;
  --color-subtitulo-after-text: #212121;
  --color-subtitulo-interno-after-text: #212121;
  --bg-produtos-listas-icone: #000;
  --bg-produtos-lista-li: #FFEB3B;
  --color-btn-fundo-border-hover: #212121;
  --color-btn-fundo-text-hover: #212121;
  --bg-section-portfolio: #000;
  --color-subtitulo-text: #FFEB3B;
  --color-subtitulo-text-after: #ffeb3b;
  --color-portfolio-call-p: #e0e0e0;
  /* Footer */
  --bg-footer: #000;
  --bg-copy: #ffeb3b;
  --color-footer-text: #F5F5F5;
  --color-footer-h3-text: #ffeb3b;
  --color-footer-h3-after: #ffeb3f;
  --color-footer_redes-ancora: #ffeb3f;
  --color-footer_redes-border-hover: #f5f5f5;
  --color-introducao-interna-p: #f5f5f5;
  --bg-produto_icone: #212121;
  --bg-produto_info: #212121;
  --color-produto_item-h2: #f5f5f5;
  --color-produto_item-p: #f5f5f5;
  --bg-produto_item-list: #ffeb3b;
  --bg-orcamento: #000;
  --color-orcamento-h2: #ffeb3b;
  --color-label-orcamento-form: #DCDCDC;
  --bg-border-input: #ffeb3b;
  --bg-orcamento_dados-ul-li-nth-child: #1d1d1d;
}