:root {
  --bg-color-header: #Fec63e;
  --color-menu-text: #000;
  --color-menu-text-hover: #fff;
  --color-border-bottom-hover: #fff;
  --color-container-text-h1: #fff;
  --color-quote-externo-text: #fff;
  --color-quote-externo-p-before-after: #EEEEEE;
  --color-container-btn-ancor: #fec63e;
  --color-container-btn-ancor: #fec63e;
  --color-btn-hover-text: #eee;
  --color-btn-hover-border: #eee;
}