/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}
img {
  display: block;
}

.btn {
  border: 3px solid var(--color-container-btn-ancor);
  padding: 10px 30px;
  color: var(--color-container-btn-ancor);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.btn:hover {
  color: var(--color-btn-hover-text);
  border-color: var(--color-btn-hover-border);
}

.btn.btn-fundo:hover {
  color: var(--color-btn-fundo-text-hover);
  border-color: var(--color-btn-fundo-border-hover);
}
.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: var(--color-subtitulo-text);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;

}
.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-subtitulo-after-text);
  margin: 8px auto;
}
.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-footer-h3-text);
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}