/* Estilos para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  
  /* Qualidade Home */
  .qualidade::after {
    right: 66px;
    z-index: -1;
  }
  .qualidade_lista li {
    padding: 0 10px;
  }

  /* Footer */
  .footer_redes ul li a {
    border: 3px solid var(--color-footer_redes-ancora);
    display: block;
    padding: 6px;
  }
  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }

  /* Produtos */
  .produto_item h2 {
    color: var(--color-produto_item-h2);
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: relative;
    top: -150px;
    margin-bottom: -56px;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 20px 30px;
  }

  .produto_info ul li {
    width: 181px;
    height: 49px;
  }

  .produto_icone {
    padding: 41px 0;
  }
}

/* Estilos para smartphone */
@media only screen and (max-width: 787px) {

  /* Header */
  .header {
    position: relative;
    padding-bottom: 0px;
  }
  .header img {
    margin: 0 auto 10px auto;
  }
  .header_menu {
    text-align: center;
  }
  .header_menu > .header_menu_align {
    margin: 0 auto;
  }
  .header_menu ul li {
    margin: 5px;
  }
  .header_menu ul li a {
    border: 4px solid #000;
    width: 134px;
    display: block;
    float: left;
  }
  .header_menu ul li a:hover {
    border-color: #fff;
  }

  .header_menu ul li a.menu_ativo {
    border-color: var(--color-menu-text-hover);
  }

  /* Introdução */
  .introducao {
    margin-top: 0px;
    padding-top: 60px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }

  /* Introdução interna */
  .introducao-interna {
    margin-top: 0px;
  }

  .introducao h1 {
    font-size: 36px;
    color: var(--color-container-text-h1);
  }

  /* Call */
  .call {
    padding-top: 10px;
  }

  /* Qualidade Home */
  .qualidade::after {
    display: none;
  }

  /* Sobre */
  .missao_sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }
  .missao_sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

   /* Produtos */
   .produto_item h2 {
    top: -100px;
    margin-bottom: -68px;
  }
  .produto_item {
    padding-top: 40px;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    padding: 20px 30px;
  }

  .produto_info ul li {
    width: 149px;
    height: 49px;
    font-size: 15px;
    line-height: 20px;
  }

  .produto_icone {
    padding: 41px 0;
  }

  /* Orçamento */
  .orcamento {
    margin-top: 40px;
  }
  .orcamento_dados ul {
    padding-right: 0px;
  }
  .form {
    padding: 0px;
  }
  .form .btn { 
    width: 150px;
  }
}