/* Introdução - Home site */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}
.introducao h1 {
  font-size: 48px;
  color: var(--color-container-text-h1);
  font-weight: bold;
  text-transform: uppercase;
}
.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: var(--color-quote-externo-text);
}
.quote-externo p {
  font-style: italic;
}
.quote-externo p::before, .quote-externo p::after  {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-quote-externo-p-before-after);
  margin: 14px auto 10px auto;
}
.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/* Introdução Interna */
.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: var(--color-introducao-interna-p);
  padding-top: 30px;
}
.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.introducao-interna h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-quote-externo-p-before-after);
  margin: 6px auto 10px auto;
}

/* Produtos */
.produtos {
  padding: 60px 0;
}
.produtos_lista-icone {
  background: var(--bg-produtos-listas-icone);
  padding: 20px;
}

.produtos_listas li {
  background: var(--bg-produtos-lista-li);
  text-align: center;
}

.produtos_listas li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}
.produtos_listas li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-subtitulo-after-text);
  margin: 2px auto;
}
.produtos_listas li p {
  padding: 10px 20px 20px 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}
.call p {
  margin-bottom: 30px;
}

/* Portfólio */
.portfolio {
  width: 100%;
  background: var(--bg-section-portfolio);
  padding: 40px 0;
}
.portfolio .subtitulo {
  color: var(--color-subtitulo-text);
}
.portfolio .subtitulo::after {
  background: var(--color-subtitulo-text-after);
}
.portfolio_lista li:last-child {
  margin-top: 20px;
}
.portfolio .call p {
  color: var(--color-portfolio-call-p);
}

/* Qualidade */
.qualidade {
  padding: 60px 0;
}
.qualidade::after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url(../img/linhas.svg) no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1;
}
.qualidade_lista {
  padding-top: 20px;
  overflow: auto; /* clear-fix */
}
.qualidade img {
  margin: 0 auto;
}
.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}
.qualidade_lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-subtitulo-after-text);
  margin: 6px auto;
}

/* Quebra */
.quebra {
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  padding: 40px;
  width: 100%;
  height: 220px;
  text-align: center;
}
.quebra .quote-externo {
  max-width: 400px;
}
